@import "https://fonts.googleapis.com/css?family=Laila";

header {
    width: 100%;
    height: auto;
}

.container-header {
    background: black;
    box-shadow: 3px 0 7px rgba(0, 0, 0, .3);
    padding: 0;
}

.logo {
    display: inline-block;
    padding-left: 10px;
}

.logo img {
    height: 80px;
    width: auto;
}

.main-menu {
    list-style: none;
    margin: 0;
    padding-right: 10px;
    float: right;
    display: flex;
}

.main-menu li {
    display: inline-block;
}

.main-menu a {
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 80px;
    padding-left: 30px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Laila', serif;
    color: #ffffff;
    transition: .3s linear;
}

.main-menu a:hover {
    text-decoration: none;
    color: #0bebf4;
}

@media (max-width: 660px) {
    .main-menu {
        float: none;
        padding-top: 20px;
    }

    .container-header {
        text-align: center;
        padding: 20px 0 0 0;
    }

    .main-menu a {
        padding: 0 10px;
    }
}

@media (max-width: 600px) {
    .main-menu li {
        display: block;
    }
}

/* video-part*/
.video-part {
    position: relative;
    margin: 0;
    padding: 0;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-part h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: black;
    font-family: 'Laila', serif;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    z-index: 1;
    opacity: 0.8%;
}

h1:hover {
    color: #0bebf4;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/*about me*/

.routes-section {
    padding: 0;
}

.routes-item {
    padding: 15px;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    width: 100%;
}

.img-me {
    display: block;
    margin: auto;
    width: 320px;
    height: auto;
    border-radius: 50%;
    justify-items: center;
}

.routes-item-desc {
    padding: 5px 15px;
    margin-left: 10%;
}

.text-about-me {
    padding-top: 20px;
    font-family: 'Laila', serif;
    font-size: 20px;
    width: 300px;
    line-height: 40px;
}

.section-title {
    text-align: center;
    font-size: 35px;
    color: white;
    background-color: black;
    background-size: auto;
    font-family: 'Laila', serif;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

h2:hover {
    color: #0bebf4;
}

/*Travel-part*/

#travel-section {
    padding: 0;
}

.wrap-travel {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

#example-story {
    display: flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}

.travel-item {
    text-align: justify;
    width: 280px;
    margin: 20px;
}

.img-travel {
    width: 280px;
    height: auto;
    border-radius: 10px;
}

.item-title {
    color: black;
    text-transform: uppercase;
    margin: 5px auto;
    text-align: center;
}

/*Food section*/
#food-section {
    padding: 0;
}

.wrap-food {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

#example-food {
    display: flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}

.food-item {
    text-align: justify;
    width: 280px;
    margin: 20px;
}

.img-food {
    width: 280px;
    height: auto;
    border-radius: 10px;
}

.item-title-food {
    color: black;
    text-transform: uppercase;
    margin: 5px auto;
    text-align: center;
}

/* footer section*/
footer {
    width: 100%;
    height: auto;
    background: black;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
}

footer a {
    color: white;
    font-size: 20px;
    margin-left: 70px;
    font-family: 'Laila', serif;
}

footer nav a:hover {
    border-bottom: 1px solid;
    color: #0bebf4;
}

.logo-footer {
    justify-items: center;
    height: 75px;
    width: auto;
}

.social a {
    margin-left: 50px;
    margin-bottom: 10px;
}

.social a:hover {
    color: #0bebf4;
}